/* Nav CSS */
.contain-nav-controlls{
    width: 55px;
    background: #282828;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    z-index: 1000;
    height: fit-content;
    left: 0;
    border-bottom-right-radius: 30px;
    padding:  0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.nav-link-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-bottom: 10px;
} 

.nav-logo {
    width: 90%;
    height: 90%;
    cursor: pointer;
    z-index: 2;
    background-color: #282828;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    align-items: end;
    top: 20px;
    right: 20px;
    font-size: clamp(9px, .75rem + .5vw, 12px);
    animation: nameSlideLeft 2s;
}

.name h2 {
    font-weight: 100;
}

.open-to-projects-wrapper {
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 1000;
}

.open-to-projects-content {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.led-bulb-active {
    height: 10px;
    width: 10px;
    background: #39FF14;
    box-shadow: 0 0 5px 0 #39FF14;
    border-radius: 50%;
    margin-left: 10px;
    animation: pulse 3s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.led-bulb-active div {
    height: 5px;
    width: 5px;
    background-color: white;
    filter: blur(2px);
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

.led-bulb-inactive {
    height: 12px;
    width: 12px;
    background-color: #282828;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 10px;
}



/* Nav Animations */
@keyframes pulse {
    0% {
        opacity: 1;
        padding: 0;
    }
    50% {
        opacity: .25;

    }
    100% {
        opacity: 1;
        padding: 0;
    }
}

@keyframes nameSlideLeft {
    from {
        right: -500px;
    }
    to {
        right: 20px;
    }
}



/* Nav Responsive Breakpoints */
@media screen and (min-width: 900px) {
    .contain-nav-controlls {
        padding:  0 20px 20px 0;
        width: 65px;
    }

    .nav-logo {
        height: 100%;
        width: 100%;
    }
}