/* Menu CSS */
.menu-controls {
    width: 55px;
    background: #282828;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    z-index: 2000;
    height: fit-content;
    right: 0;
    border-top-left-radius: 30px;
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.menu-links div {
    margin-block: 10px;
}

.menu-icon {
    width: 40.5px;
    height: 40.5px;
    min-height: 40.5px;
    cursor: pointer;
    z-index: 2;
    background-color: #282828;
}



/* Menu Responsive Breakpoints */
@media screen and (min-width: 900px) {
    .menu-controls {
        padding: 20px 0 0 20px;
        width: 65px;
    }

    .menu-icon {
        min-height: 45px;
        height: 45px;
        width: 45px;
    }
}