/* Menu CSS */
.menu-controls {
    width: 55px;
    background: #282828;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    z-index: 1000;
    height: fit-content;
    right: 0;
    border-top-left-radius: 30px;
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
} 

.menu-icon {
    width: 90%;
    height: 90%;
    cursor: pointer;
    z-index: 2;
    background-color: #282828;
}



/* Menu Responsive Breakpoints */
@media screen and (min-width: 900px) {
    .menu-controls {
        padding: 20px 0 0 20px;
        width: 65px;
    }

    .menu-icon {
        height: 100%;
        width: 100%;
    }
}