/* Landing CSS */
.landing-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet-canvas {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: jumpIn 2s cubic-bezier(0.68, -0.6, 0.32, 1.6) 4.5s forwards;
}

.gradient {
    position: absolute;
    height: 250px;
    width: 80%;
    background: radial-gradient(ellipse 50% 50px, #4CB2AF, #2f1d5c 10%, #4CB2AF 50%, #2f1d5c);
    filter: blur(1000px);
    -webkit-filter: blur(45px);
    transform: rotate(-15deg);
    border-radius: 50%;
    z-index: 0;
}

.recent-project-wrap {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.recent-project-wrap h2 {
    font-size: clamp(9px, .5rem + .5vw, 1rem);
    font-weight: 400;
    margin-bottom: 15px;
    user-select: none;
    width: fit-content;
}

.recent-project-img-container {
    aspect-ratio: 254 / 215;
    width: 15rem;
    border-radius: 0.5rem;
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    overflow: hidden;
    cursor: pointer;
}

.recent-project-img-container h3 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: clamp(7px, .25rem + 1vw, 0.625rem);
    font-weight: 400;
    background: #161616;
    padding: 5px;
    pointer-events: none;
}

.recent-project-img-container:hover {
    transform: scale3d(0.95, 0.95, 0.95);
}

.recent-project-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cursor-options {
    position: absolute;
    bottom: 0px;
    right: 200px;
    white-space: nowrap;
    background: #282828;
    padding: 5px 15px 0 15px;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.select-cursor {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.select-cursor p {
    font-weight: 400;
    margin: 5px 0 5px 0;
}

.led-bulb-selected {
    height: 10px;
    width: 10px;
    background: #eedd82;
    box-shadow: 0 0 5px 0 #eedd82;
    border-radius: 50%;
    animation: pulse 3s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.led-bulb-selected div {
    height: 5px;
    width: 5px;
    background: white;
    filter: blur(2px);
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

.led-bulb-inactive {
    height: 10px;
    width: 10px;
    background: #282828;
    box-shadow: 0 0 5px 0 black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.led-bulb-inactive div {
    height: 100%;
    width: 100%;
    background: #161616;
    opacity: 0.5;
    filter: blur(2px);
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #161616;
}



/* Landing Animations */
@keyframes jumpIn {
    from {
        transform: scale(0.2) translateY(0%) translateZ(-500px);
        top: 100%;
    }
    to {
        transform: scale(1) translateY(-50%)translateZ(0);
        top: 50%;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        padding: 0;
    }
    50% {
        opacity: .25;

    }
    100% {
        opacity: 1;
        padding: 0;
    }
}


/* Landing Responsive Breakpoints */
@media screen and (min-width: 900px) {
    .landing-container {
        padding: 20px;
    }

    .menu-controls {
        padding: 20px 0 0 20px;
    }

    .menu-icon {
        height: 100%;
        width: 100%;
    }

    .menu-controls {
        width: 65px;
    }
}

@media (max-width: 768px) {
    .recent-project-img-container {
        width: 38vw;
        max-width: 15rem;
    }

    .recent-project-img-container h3 {
        bottom: 5px;
        left: 5px;
    }

    .recent-project-wrap h2 {
        margin-bottom: 10px;
    }
}

@media (pointer: coarse) {
    .cursor-options {
        display: none !important;
    }
}