/* Landing Container */
.landing-container {
    width: 100%;
    height: 100dvh;
    background: #282828;
    padding: 10px;
}

.landing-content {
    width: 100%;
    height: 100%;
    background: #161616;
    border-radius: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #DBDBDB;
    font-family: monospace;
    text-transform: uppercase;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .5);
}



/* Menu CSS */
.menu-controls, .logo {
    height: 55px;
    width: 55px;
    background: #282828;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    z-index: 1000;
}

.menu-controls {
    bottom: 0;
    right: 0;
    border-top-left-radius: 50%;
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    width: 90%;
    height: 90%;
    cursor: pointer;
}

.logo {
    top: 0;
    left: 0;
    border-bottom-right-radius: 50%;
    padding:  0 10px 10px 0;
    cursor: pointer;
}

.logo img {
    height: 90%;
    width: 90%;
}

.name, .roles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1000;
}

.name {
    align-items: end;
    top: 20px;
    right: 20px;
    font-size: clamp(9px, .75rem + .5vw, 12px);
}

.name h2 {
    font-weight: 100;
}

.roles {
    bottom: 20px;
    left: 20px;
    align-items: start;
    font-size: clamp(9px, .5rem + .5vw, 12px);
}

.roles h2 {
    font-weight: 100;
}

.block {
    width: 160px;
    height: 40px;
    position: absolute;
    background-color: #161616;
    bottom: 18px;
    right: 0;
    z-index: 9;
}

.gradient {
    position: absolute;
    height: 250px;
    width: 80%;
    background: radial-gradient(
    ellipse 50% 50px,
    #6353a0,
    #2f1d5c 10%,
    #261b43 50%,
    #2f1d5c
    );
    filter: blur(1000px);
    transform: rotate(-15deg);
    border-radius: 50%;
    z-index: 0;
}

@media screen and (min-width: 900px) {
    .landing-container {
        padding: 20px;
    }

    .menu-controls {
        padding: 20px 0 0 20px;
    }

    .logo {
        padding: 0 20px 20px 0;
    }

    .logo img, .menu-icon {
        height: 100%;
        width: 100%;
    }

    .menu-controls, .logo {
        height: 65px;
        width: 65px;
    }
}